/*
	fountain.css
	fountain is a CSS template designed for including short sections of screenplay-formatted material in blog posts.
	Originally developed by John August - johnaugust.com
	Last modified 8/21/08
*/

.fountain {
  background: #ffffff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2);
	color: #000000;
	padding: 1em 1.5em 1.5em !important;
  margin: 1rem auto 3em;
  line-height: 1.5;
  font: 1em Courier, "Courier New", monospace !important;
}

.fountain * {
  font: inherit;
}

.fountain p {
  text-align: left !important;
	letter-spacing: 0 !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.fountain h2,
.fountain .sceneheader,
.fountain .action,
.fountain h4,
.fountain .character {
	padding-top: 1.5ex !important;
	margin: 0 !important;
}

.fountain h2,
.fountain .sceneheader {
	font-weight: bold !important;
}

.fountain > p,
.fountain .action {
	padding-right: 5% !important;
  padding-top: 25px;
}

.fountain h4,
.fountain .character {
	padding-left: 40% !important;
}

.fountain .dialogue {
	max-width: 250px;
	padding-top: 10px;
  margin: 0 auto;
}

.fountain .parenthetical {
	padding-left: 32% !important;
	padding-right: 30% !important;
}

.fountain .dialogue + .parenthetical {
	padding-bottom: 0 !important;
}

.fountain .transition {
	padding-top: 3ex !important;
	padding-left: 65% !important;
	padding-bottom: 1.5ex !important;
}
